*{
  padding: 0%;
  margin: 0px;
}
body{
  /* background-image: linear-gradient(rgb(139, 139, 238) , lightblue); */
  height: fit-content;
}
/* sign-up */
.signup{
  margin-top: 100px;
  margin-left: 150px; 
  width: 800px;}
/* sign-up */
/* Header + navbar */
.head-tag{
color: #0dbdf3;
text-align: left;
margin: 2%;
position: relative;
/* animation: fadeInLeft 1s 1 ; */
}
.navv {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 30px 0px #666;
  position: sticky;
  width: 100%;
  transition: top 0.3s;
  z-index: 9999;
  top: 0;
  /* background-color: #333; */
  /* color: #fff */
}
.sticky{
  position: fixed;
  top:0;
  background-color: #a2a2a2;
}
.menu-bar{
  display: none;
  width: 50px;
  height: 50px;

}
#services{
  background-color: #0dbdf3;
}
.logo img {
  height: 55px;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.nav-links li {
  list-style: none;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-align: left;
  display: block;
  width: 200px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #555c64;
  color: #f2f2f2;
}
/* header + navbar ends */
/* footer */
footer {
  background-color: #f2f2f2;
  padding: 30px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  
}

.footer-section {
  flex-basis: 25%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 5px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-section p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.social-icons a:hover {
  background-color: #555;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
/* footer */
/* Body main */
/* Carousel */
.carousel-container {
  position: relative;
  
  max-width: 700px;
  margin: 0 auto;
}

.carousel-slide {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}
.hiddencls{
  visibility:hidden;
}
.showcls{
  visibility:visible;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}


/* carousel ends */
img{
  border-radius: 25px;
}
.section{
  height: 100vh;
  display: inline-flex;
  padding-top: 40;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
}
.img{
width: 400px;
padding: 10px;
}
.v-text{
box-sizing: border-box;
text-align: left;
margin-left: 10px;
width:70%;
padding: 10px;
}
.v-img{
display: flex;
justify-content: center;
height: 200px;
width: 300px;
}
/* body main */
/* form */
.contact-form{
margin-bottom: 5%;
width: 70%;
}
.contact-form .form-control{
border-radius:1rem;
}
.contact-image{
text-align: center;
}
.contact-image img{
border-radius: 6rem;
width: 11%;
margin-top: -3%;
transform: rotate(29deg);
}
.contact-form form{
padding: 10%;
}
.contact-form form .row{
margin-bottom: -7%;
}
.contact-form h3{
margin-bottom: 2%;
margin-top: -10%;
text-align: center;
color: #0062cc;
}
.contact-form .btnContact {
width: 50%;
border: none;
border-radius: 1rem;
padding: 1.5%;
background: #dc3545;
font-weight: 600;
color: #fff;
cursor: pointer;
}
.btnContactSubmit
{
width: 50%;
border-radius: 1rem;
padding: 1.5%;
color: #fff;
background-color: #0062cc;
border: none;
cursor: pointer;
}
.frm{
padding-bottom: 10px;
}
.form-signup{
border: 2px solid #0062cc;
}
/* form */
/* career */

.career{
box-sizing: border-box;
text-align: center;
margin-top: 25px;
}
.job-list{
background-color: #acdceb;
box-shadow: 0px 1px 30px -4px grey;
padding:10px;
border-radius: 5%;
box-sizing: border-box;
margin-top: 25px;
margin-left:25vw;
width: 50vw;
}
.btnn-right{
margin-left: 90%;
}
/* career */
/* animation */
/* @keyframes move{
from{left: -800px;}
to{left: 1300px;}
} */


/* property-details */
.pdtls1{
  /* border: 2px solid rgb(133, 23, 23); */
  box-sizing: border-box;
  display: inline-flex;
  margin: 20px;
  width: 90%;
  justify-items: center;
}
.pdtls2{
  /* border: 3px solid #bbbdbf;
  border-radius: 10px; */
}
.pdtls2 div{
  margin-top: 5px;
}
.pdtls1 img{
  /* border: 2px solid rgb(22, 2, 68); */
}
.pdtls1 p{
  box-sizing: border-box;
  /* border: 2px solid black; */
  width: 638px;
  margin-left: 25px;
  overflow-wrap: break-word;
}
/* property-details ends */
/* @keyframes move{
  from{color: #0dbdf3;}
  to{color: #021a34;}
  } */
  @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   
/* animation */

/* ammenities */
.amm label{
margin-left: 5px;
margin-right: 5px;
}
.crosschk{
width: 500px;
box-sizing: border-box;
background-color: #226bb9;
color: #ffffff;
border-radius: 3%;
box-shadow:0px 1px 30px 0px #555;
}
.crosschk div{
padding: 10px;
}
/* search bar */
.search-container {
display: flex;
justify-content: center;
margin-top: 20px;
margin-left: 20px;
}

input[type=text] {
width: 60%;
padding: 12px 20px;
margin-right: 10px;
border: 1px solid rgb(87, 87, 87);
/* border-radius: 24px; */
box-sizing: border-box;
background-color: #ffffff;
}
input[type=password] {
width: 60%;
padding: 12px 20px;
margin-right: 10px;
border: none;
border-radius: 24px;
box-sizing: border-box;
background-color: #0dbdf3;
}

button[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 24px;
cursor: pointer;
}

button[type=submit]:hover {
background-color: #5f8e62;
}

.fa {
font-size: 20px;
}
::placeholder{
color: rgb(0, 0, 0) !important; 
}
.frmsb{
position: absolute;
right: 550px;
top: 120px;
}
/* search bar */
/* menu-bar view */

.menu-items ul{
/* background-color: #0062cc; */
color: #050505;
text-decoration: none;
list-style: none;
box-sizing: border-box;
/* border: 2px solid black; */
position:absolute;
right: 5px;
top: 95px;
z-index: 100;
height: 100vh;
background-color: #acdceb;
display: block !important;
padding-right: 10px;
}
.menu-items li a{

text-decoration: none;
color: #000000;

}
.menu-items li a:hover{
box-sizing: border-box;
background-color: #51667d;
border-radius: 5px;
margin-bottom: 20px;
}
/* menu-bar view */
/* search results div */
.search-main{
  height: 200px;
  width: 500px;
  /* border: 2px solid rgb(153, 153, 153); */
  border-radius: 5px;
  margin-left: 30px;
  display: inline-flex;
  margin-left: 5px;
}
.searchResult{
  box-sizing: border-box;
  /* border: 2px solid rgb(213, 213, 216); */
  height: fit-content;
  width: 100%;
  border-left: none;
  border-right: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  
}
/* search results div */
/* home loan */
.home-main{
  height: 110vh;
  display: flex;
  margin-bottom:25px ;
}
/* responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
main{
  height:  fit-content;
  box-sizing: border-box;
  margin: 0px;
}
.head-tag{
  text-align: center;
}
.nav-links{
  display: none;
}
.menu-bar{
  display: flex;
}
.section{
  display: block;
  height: fit-content;
}
.btnn-right{
  margin-left: 70%;
  }

.hide{
  display: none;
}
.pdtls1{
  display: block;
}
.pdtls1 li{
  margin-top: 10px;
}
.pdtls2 div{
  margin-left: 30px !important;
}
.pdtls3img {
  height: 200px;
  width: 250px;
}
.home-main{
  display:block;
  height: fit-content;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* @media (max-width: 768px) {
.carousel-container {
  max-width: 400px;
}
}
@media (max-width: 576px) {
.carousel-container {
  max-width: 300px;
}
} */
/* responsive */
